@import "theme.css";
@import "./sections/header.css";
@import "./sections/hero.css";
@import "./sections/about.css";
@import "./sections/skills.css";
@import "./sections/projects.css";
@import "./sections/footer.css";
@import "./sections/connect.css";

* {
  box-sizing: border-box;
}

:root {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1536px;
}

body {
  /* background-color: var(--bg-main); */
  background-color: var(--bg-main);

  background-size: 9px 9px;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.08) 0,
    rgba(255, 255, 255, 0.08) 1px,
    transparent 1px,
    transparent 40%
  );
  color: var(--text-main);
}

body a {
  color: var(--text-main);
}

/*  Hiệu ứng hiện khi load  */
.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
