/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  Theme  */

:root {
  /*--  Color palette --*/

  /* Background color */
  --bg-main: hsl(227, 42%, 9%);

  /* Text color */
  --text-heading: hsl(0, 0%, 100%);
  --text-main: hsl(213, 6%, 72%);
  --text-banner: (
    background: linear-gradient(to right, hsl(200, 96%, 51%), hsl(0, 0%, 100%))
      ; -webkit-background-clip: text; -webkit-text-fill-color: transparent;
  );

  /* Text hovered color */
  --text-hovered: hsl(198, 96%, 51%);

  /* Text size */
  --p-font-size: 16px;
  --p-line-height: 24px;
  --p-letter-spacing: 0.4px;

  --h1-font-size: 32px;
  --h1-line-height: 36px;

  --h2-font-size: 26px;
  --h2-line-height: 32px;

  --h3-font-size: 20px;
  --h3-line-height: 24px;

  --h4-font-size: 18px;
  --h4-line-height: 16px;

  --caption-font-size: 12px;
  --caption-line-height: 16px;

  /* Colors – dark only */
  --p-font-size: 16px;

  /* fonts */
  --font-body: "Darley";
  --font-heading: "Be Vietnam Pro";
}

@font-face {
  font-family: "Darley";
  src: url("../fonts/Darley/DarleySans-Regular.otf");
}

@font-face {
  font-family: "Daytonica";
  src: url("../fonts/Daytonica/MJ-VIP-Daytonica.ttf");
}

@font-face {
  font-family: "Comforter";
  src: url("../fonts/Comforter/Comforter-Regular.ttf");
}

@font-face {
  font-family: "Fluggles";
  src: url("../fonts/Fuggles/Fuggles-Regular.ttf");
}

@font-face {
  font-family: "Archaic";
  src: url("../fonts/Archaic/SVN-Archaic-1897.ttf");
}

@font-face {
  font-family: "ArcOSD";
  src: url("../fonts/ArcOSD/vhsfonf-1.ttf");
}

@font-face {
  font-family: "Vantom";
  src: url("../fonts/Vantom/SVN-Vantom.otf");
}

@font-face {
  font-family: "Gloria";
  src: url("../fonts/Gloria/SVN-Gloria-Hallelujah.otf");
}

@font-face {
  font-family: "Pincoya";
  src: url("../fonts/Pincoya/0199-LNTH-pincoyablack.ttf");
}

@font-face {
  font-family: "Tallings";
  src: url("../fonts/Tallings/1FTV-Tallingsvfc.ttf");
}
