header {
  position: fixed;

  width: 100%;
  z-index: 20;

  /* Mặc định trong suốt */
  background: transparent;

  /* Transition mượt khi đổi màu */
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;

  &.scrolled {
    background: rgba(10, 10, 30, 0.95); /* Màu nền tối + trong suốt nhẹ */
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;

  width: 100%;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  color: var(--text-heading);
  font-size: var(--h3-font-size);
  font-weight: 600;
  text-decoration: none;
}

.header__left--icon {
  width: 2%;
  height: auto;
}

.header__right ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header__right ul a {
  position: relative;

  white-space: nowrap;
  text-decoration: none;

  transition: color 0.25s ease;

  &::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: var(--text-hovered);

    transition: width 0.25s ease;
  }

  &:hover {
    color: var(--text-hovered);

    &::after {
      width: 100%;
    }
  }
}
